<p>home works!</p>
<div *ngIf="isValid">{{ testing }}</div>
  <div class="card-deck">
  <div class="card" *ngFor="let country of peopleByCountry" [ngSwitch]="country.country">
    <div class="card-body my-2">
      <p *ngSwitchCase="'US'" class="text-danger">{{ country.country }}</p>
      <p *ngSwitchCase="'UK'" class="text-primary">{{ country.country }}</p>
      <p *ngSwitchCase="'MARS'" class="text-warning">{{ country.country }}</p>
      <p *ngSwitchDefault>{{ country.country }}</p>
      <p class="card-text" *ngFor="let lorem of country.people">{{ lorem.name }}</p>
      <p class="card-text">{{ country.population }}</p>
    </div>
  </div>
<ul>
  <li *ngFor="let country of peopleByCountry" [ngSwitch]="country.country">
    <p *ngSwitchCase="'US'" class="text-danger">{{ country.country }}</p>
    <p *ngSwitchCase="'UK'" class="text-primary">{{ country.country }}</p>
    <p *ngSwitchCase="'MARS'" class="text-warning">{{ country.country }}</p>
    <p *ngSwitchDefault>{{ country.country }}</p>

    <ul>
      <li *ngFor="let lorem of country.people">{{ lorem.name }}</li>
    </ul>
  </li>
</ul>
